@font-face {
    font-family: NetFlixSans;
    src: url(/Assets/Fonts/NetflixSans_W_Bd.woff2);
}

@font-face {
    font-family: NetFlixSans_BLACK;
    src: url(/Assets/Fonts/NetflixSans_W_Blk.woff2);

}

@font-face {
    font-family: NetFlixSans_MEDIUM;
    src: url(/Assets/Fonts/NetflixSans_W_Md.woff2);

}

@font-face {
    font-family: NetFlixSans_LOW;
    src: url(/Assets/Fonts/NetflixSans_W_Rg.woff2);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(/Assets/images/BACK.jpg);
    background-position: center center;
    height: 90vh;
}

.shade {
    width: 100%;
    height: 90vh;
    filter: contrast(150%);
    background-color: rgba(26, 26, 26, 0.6);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    max-width: 70vw;
    margin: auto;
}

.logo {
    opacity: 0.9;
}

.select {
    background-color: #131616;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    gap: 8px;
    border: 2px solid #606160;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    
}

.select:hover {
    border: 3px solid white;
    cursor: pointer;
}

.button {
    display: flex;
    gap: 20px;
}


i {
    padding-right: 5px;
}

.sign-in {
    background-color: rgb(229 9 20);
    color: rgb(255, 255, 255);
    padding: 0px 15px 0px 15px;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: none;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

section {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 20px;
    
}

.txt1 {
    font-size: 48px;
    font-weight: 900;
}

.txt2 {
    font-size: 24px;
    font-weight: 400;
}

.txt3 {
    font-size: 20px;
    font-weight: 400;
}

.email {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    max-width: 70vw;
}

::placeholder{
    color: rgb(183, 181, 181);
}

input {
    background-color:#1316144a ;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 120px 15px 20px;
    border: 1px solid grey;
    border-radius: 4px;
    color: white;
}

input:hover {
    cursor: pointer;
    border: 2px solid white;
}

.get-started {
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: none;
    font-size: 24px;
    border-radius: 0.25rem;
    cursor: pointer;
    
}

.divider{
    background-color: rgba(35,35,35,1);
    max-width: 100%;
    height: 8px;
    z-index: 99;
}

.main-2{
    position: relative;
    display: flex;
    width: 80vw;
    margin: auto;
    height: 65vh;
}
.des1{
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.des2{
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.sec-second{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.png{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.png img{
    width: 400PX;
    z-index:2;
}
.png video{
    position: absolute;
    width: 320PX;
}
.des1-unc{
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.png_uncle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.png_uncle img{
    position: relative;
    z-index: 3;
    overflow: hidden;
    width: 520px;
}
.png_uncle video{
    position: absolute;
    width: 320px;
    top: 100px;
}

.f{
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

.questions{
    max-width: 80vw;
    margin: auto;
}

.questions img{
    float: right;
}

.questions button{
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 80vw;
    margin: auto;
    list-style: none;
    background-color: rgb(45 45 45);
    text-align: left;
    border: none;
    margin: 5px;
    padding: 30px;
}

.questions button:hover{
    background-color: rgb(89, 89, 89);
    transition: all 1s ease-out;
}

.under-txt{
    margin: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:white;
}

.email-second {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.call{
    color: rgb(168 179 179);
    font-size: 16px;
    font-weight: 400;
    padding: 30px;
    max-width: 80vw;
    margin: 40px auto 0px auto;
}

.grid{
    /* padding: 30px; */
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

.grid a{
    color: rgb(168 179 179);
    text-decoration:underline;
    cursor: pointer;
}
.call a{
    color: rgb(168 179 179);
    text-decoration:underline;
    cursor: pointer;
}

.button-last{
    display: flex;
    gap: 25px;
    max-width: 80vw;
    margin: auto;
    padding: 30px 0px 20px;
}

.nf{
    display: flex;
    max-width:80vw;
    margin: auto;
    padding: 15px 0px 15px;
}

.nf span{
    color: rgb(168 179 179);
    margin-bottom: 40px;
}
.pos{
    position: absolute;
    top:350px;
    left:65px;
}
.down {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    border: 2px solid grey;
    border-radius: 12px;
    position: relative;
    z-index: 100;
    width: 260px;
    top: 30px;
}
.strange{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.do{
    color: rgb(59 130 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.down img {
    width: 45px;
    height: 55px;
}
@media screen and (max-width:950px) {
    .shade{
        background-color: rgba(26, 26, 26, 0.72);
    }
    nav{
        max-width: 80vw;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        gap: 20px;
        padding: 20px;
    }
    section{
        max-width: 60vw;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .email{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        max-width: 35vw;
    }
    .main-2{
        /* margin-top: 10vw; */
        position: relative;
        flex-direction: column;
        /* gap: 100px; */
        /* max-height: 90vh; */
        padding: 25px;
        
    }
    .sec-second {
        align-items: center;
        justify-content: center;
        /* gap: 15px; */
    }
    .des1{
        font-size: 42px;
    }
    .des2{
        font-size: 24px;
    }

    .des1-unc{
        color: white;
    font-size: 48px;
    font-weight: 900;
    }
    .png_uncle img{
        width: 350px;
        position: absolute;
        top: 20px;
    }
    .png_uncle video{
        width: 220px;
        position: absolute;
        top: 40px;
    }
    .grid{
        grid-template-columns: 1fr 1fr;

    }
    .f{
        margin: 10px 0px 10px;
    }
    
    .email-second{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
        max-width:40vw;
        margin: auto;
        padding: 25px;
    }
    .down{
        opacity: 0;
    }
    .pos{
        left: -28px;
        bottom: 186px;
    }
    .get-started{
        font-size: 16px;
    }
}
@media screen and (max-width:573px){
    .shade{
    background-color: rgba(26, 26, 26, 0.7);
    }
    .txt1{
        font-size: 34px;
    }
    .main-2{
        height: 650px;
    }
    nav{
        max-width: 550px;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        padding: 12px;
        gap: 15px;
    }
    input{
        padding: 15px 100px 15px 20px;
    }
    .png img{
        width: 300px;
    }
    .png video{
        width: 300px;
    }
    .get-started{
        font-size:13px;
    }
    .down{
        flex-wrap: wrap;
        bottom: 125px;
        right: 40px;
        display: none;
    }
    .email-second{
        padding: 25px;
    }
    .f{
        font-size: 34px;
    }
    .questions button{
        font-size: 20px;
    }
    .questions img{
        width: 1.5rem;
    }
    
}
@media screen and (max-width:350px){
    .shade{
    background-color: rgba(26, 26, 26, 0.7);
    }
    .txt1{
        font-size: 34px;
    }
    nav{
        max-width: 550px;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        padding: 12px;
        gap: 15px;
    }
    input{
        padding: 15px 100px 15px 20px;
    }
    .get-started{
        font-size:13px;
    }
    .down{
        flex-wrap: wrap;
        bottom: 125px;
        right: 40px;
        display: none;
    }
    .email-second{
        padding: 25px;
    }
    .png img{
        width: 300px;
    }
    .png video{
        width: 300px;
    }
    .des1{
        font-size: 35px;
    }
    .des2{
        font-size: 30px;
    }
    .des1-unc{
        font-size: 35px;
    }
    .f{
        font-size: 34px;
    }
    .questions button{
        font-size: 20px;
    }
    .questions img{
        width: 1.5rem;
    }
    
}

